[user]
	name = werner mendizabal
[merge]
	tool = vimdiff
[core]
	editor = vi
	excludesfile = ~/.globalignore
[alias]
	st = status
	ci = commit
	co = checkout
	vimdiff = difftool -y -t vimdiff
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[color]
	branch = auto
	interactive = auto
	status = auto
	diff = auto
[diff]
	tool = vimdiff
[push]
	default = simple
