[user]
	name = werner mendizabal
	email = nonameentername@gmail.com
[merge]
	tool = vimdiff
[core]
	editor = vi
[alias]
	st = status
	ci = commit
	vimdiff = difftool -y -t vimdiff
[color]
	branch = auto
	interactive = auto
	status = auto
	diff = auto
